/*** Globals **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts styles*/
  --ff-primary: "Roboto", sans-serif;
  /*Font weights*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
  /*Font sizes*/
  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2.5rem;
  --fs-h4: 2rem;
  --fs-sub-header: 1.8rem;
  --fs-p: 1.4rem;
  --fs-footer: 1rem;
  --fs-i: 1.8rem;
  /*line heights*/
  --lh-h1: 4.5rem;
  --lh-h2: 4rem;
  --lh-h3: 3.5rem;
  --lh-h4: 3rem;
  --lh-sub-header: 2rem;
  --lh-p: 1.5rem;
  --lh-footer: 1.2rem;
  --lh-i: 1.8rem;
  /*colors*/
  --clr-neutral-50: #FFFFFE;
  --clr-neutral-100: #E4E6E6;
  --clr-neutral-200: #CACCCC;
  --clr-neutral-300: #B1B3B3;
  --clr-neutral-900: #141414;
  --clr-primary-100: #95E5D9;
  --clr-primary-300: #5ED1C0;
  --clr-primary-500: #33B8A4;
  --clr-primary-700: #179985;
  --clr-primary-900: #067362;
  --clr-shades-trans: rgba(255, 255, 255, 0.6);
  --clr-success-100: #80F2AA;
  --clr-success-300: #63E592;
  --clr-success-500: #4ADE80;
  --clr-success-700: #2DC464;
  --clr-success-900: #16AB4C;
  --clr-warning-100: #FFDE59;
  --clr-warning-300: #FCD63F;
  --clr-warning-500: #FACC15;
  --clr-warning-700: #EDBF09;
  --clr-warning-900: #E0B300;
  --clr-error-100: #FAA5A5;
  --clr-error-300: #FA8C8C;
  --clr-error-500: #F87171;
  --clr-error-700: #EB5454;
  --clr-error-900: #DE3A3A;
  --clr-controls: var(--clr-neutral-50);
  --clr-controls-bg: var(--clr-primary-700);
  /* transitions */
  --trans-bouncy: cubic-bezier(0.68, -0.75, 0.27, 1.75);
}

.dark-mode {
  --clr-neutral-50: #1E1E1E;
  --clr-neutral-100: #4C4D4C;
  --clr-neutral-200: #656666;
  --clr-neutral-300: #7E807F;
  --clr-neutral-900: #FFFFFE;
  --clr-shades-trans: rgba(30, 30, 30, 0.7);
}

.monochrome-mode {
  --clr-neutral-50: #549087;
  --clr-neutral-100: #4C4D4C;
  --clr-neutral-200: #656666;
  --clr-neutral-300: #7E807F;
  --clr-neutral-900: #FFFFFE;
  --clr-primary-500: #FFFFFE;
  --clr-controls: #FFFFFE;
  --clr-controls-bg: var(--clr-neutral-50);
  --clr-shades-trans: rgba(84, 144, 135, 0.7);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  font-weight: var(--fw-bold);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: var(--fw-bold);
}

h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-h5);
  font-weight: var(--fw-bold);
}

p, li {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  font-weight: var(--fw-regular);
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: var(--fw-regular);
}

i {
  font-size: var(--fs-i);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}

/***** Header *****/
header {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-50);
}
header .navbar {
  max-height: 8vh;
  max-height: 8svh;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .navbar__logo {
  width: 15rem;
}
header .navbar__logo .logo path {
  fill: var(--clr-neutral-50);
}
header .navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar__links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-p);
  transition: color 250ms ease;
}
header .navbar__links a:hover {
  color: var(--clr-neutral-200);
}
header .navbar__links .cli-link {
  margin-right: 3rem;
}
header .navbar__links i {
  font-size: var(--fs-h4);
  margin-bottom: 0.5rem;
}

/***** Main *****/
main {
  height: 92vh;
  height: 92svh;
  padding: 2rem 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .control-panel, main .console {
  background-color: var(--clr-neutral-50);
  border-radius: 10px;
}
main .horizontal-divider, main .vertical-divider {
  background-color: var(--clr-neutral-100);
}
main .horizontal-divider, main .main-content, main .console {
  width: 100%;
}
main .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 14.5rem;
  height: calc(60% - 1rem);
}
main .main-content .ide, main .main-content .control-panel, main .main-content .vertical-divider {
  height: 100%;
}
main .main-content .ide {
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main .main-content .ide__container {
  height: calc(100% - 3rem);
  padding-top: 1rem;
  background-color: var(--clr-neutral-50);
}
main .main-content .ide__container .editor {
  min-height: 100%;
}
main .main-content .ide__tabs {
  height: 3rem;
}
main .main-content .vertical-divider {
  width: 2rem;
  cursor: col-resize;
}
main .horizontal-divider {
  height: 2rem;
  cursor: row-resize;
}
main .console {
  height: calc(40% - 1rem);
}

/*** Main Content ***/
.ide__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ide__tabs ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ide__tabs ul li {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--clr-shades-trans);
  color: var(--clr-neutral-300);
  margin-right: 2px;
  font-weight: var(--fw-bold);
  transition: all 250ms ease;
  overflow: hidden;
  white-space: nowrap;
}
.ide__tabs ul li i {
  font-size: var(--fs-p);
}
.ide__tabs ul li.active {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
}
.ide__tabs ul li:hover {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
  cursor: pointer;
}
.ide__tabs ul li:hover .close-tab {
  opacity: 1;
}
.ide__tabs ul li:last-child {
  margin-right: 0;
}
.ide__tabs__left {
  max-width: 80%;
}
.ide__tabs__left li:not(:last-child) {
  position: relative;
  padding-right: 3rem;
}
.ide__tabs__left li:not(:last-child) .close-tab {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 2rem;
  height: 2rem;
  transform: translate(-0.5rem, -50%);
  background-color: var(--clr-neutral-100);
  opacity: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in-out;
}
.ide__tabs__left li:not(:last-child) .close-tab:hover {
  background-color: var(--clr-neutral-200);
}
.ide__tabs__left li:last-child {
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 8rem;
}
.control-panel__btn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary-500);
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--clr-primary-500);
  font-family: var(--ff-primary);
  cursor: pointer;
  transition: all 250ms ease;
}
.control-panel__btn:last-child {
  border-bottom: none;
}
.control-panel__btn:hover {
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary-500);
}
.control-panel__btn i {
  font-size: var(--fs-sub-header);
}
.control-panel__btn p {
  font-weight: var(--fw-bold);
}
.control-panel__btn .text-icon {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  margin-top: 1rem;
  transform: scaleX(1);
  transition: opacity 250ms var(--trans-bouncy), transform 250ms var(--trans-bouncy);
}
.control-panel__btn .text-icon.hiddenV {
  opacity: 0;
  margin: 0;
  transform: scaleX(0);
  height: 0;
  flex: 0;
}
.control-panel__btn .text-icon.hiddenH {
  opacity: 0;
  margin: 0;
  transform: scaleX(0);
  height: 0;
  flex: 0;
}

/*** Console ***/
.console__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-primary-500);
  padding: 0 1rem;
}
.console__tabs__trash {
  padding: 1rem;
}
.console__tabs__trash i {
  color: var(--clr-primary-500);
  transition: color 250ms ease;
}
.console__tabs__trash i:hover {
  color: var(--clr-primary-900);
  cursor: pointer;
}
.console ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.console ul li {
  height: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
  color: var(--clr-neutral-300);
  transition: color 250ms ease;
  font-weight: var(--fw-bold);
}
.console ul li.active {
  color: var(--clr-neutral-900);
}
.console ul li:hover {
  color: var(--clr-neutral-900);
  cursor: pointer;
}

/***** settings menu *****/
.settings-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  background-color: var(--clr-primary-500);
  border-radius: 0 0 0 10px;
  padding: 2rem;
  color: var(--clr-neutral-50);
  transform-origin: right;
  transition: width 0s ease, height 0s ease, opacity 150ms ease-in-out, transform 500ms var(--trans-bouncy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.settings-menu .settings__close {
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
}
.settings-menu .settings__close i {
  font-size: var(--fs-h4);
  cursor: pointer;
}
.settings-menu .settings__title, .settings-menu .settings__preferences {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-neutral-50);
  width: 100%;
  margin: 4rem 0;
}
.settings-menu .settings__validator {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.settings-menu .settings__validator .form-field {
  width: calc(50% - 2rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-p);
}
.settings-menu .settings__validator .form-field label {
  width: 50%;
}
.settings-menu .settings__validator .form-field input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 6rem;
  height: 3rem;
  border-radius: 50vw;
  background-color: var(--clr-controls-bg);
  position: relative;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}
.settings-menu .settings__validator .form-field input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: var(--clr-controls);
  transition: left 500ms var(--trans-bouncy);
}
.settings-menu .settings__validator .form-field input[type=checkbox]:checked {
  background-color: var(--clr-success-500);
}
.settings-menu .settings__validator .form-field input[type=checkbox]:checked::before {
  left: 3.2rem;
}
.settings-menu .settings__editor {
  width: 100%;
}
.settings-menu .settings__editor .form-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--fs-p);
  margin-bottom: 2rem;
}
.settings-menu .settings__editor .form-field span {
  font-weight: var(--fw-bold);
}
.settings-menu .settings__editor .form-field select {
  width: 60%;
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.settings-menu .settings__editor .form-field .font-range-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}
.settings-menu .settings__editor .form-field .font-range-container span {
  width: -moz-fit-content;
  width: fit-content;
}
.settings-menu .settings__editor .form-field input[type=range] {
  flex: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 4px;
  border-radius: 50vw;
  background-color: var(--clr-controls-bg);
  cursor: pointer;
  /* All the same stuff for Firefox */
}
.settings-menu .settings__editor .form-field input[type=range]::-moz-range-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-50);
  border: none;
}
.settings-menu .settings__editor .form-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-50);
}
.settings-menu .settings__editor .form-field input[type=range] input[type=range]::-ms-thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-50);
  border: none;
}
.settings-menu .settings__editor .form-field .reset-settings {
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--clr-controls-bg);
  color: var(--clr-controls);
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
.settings-menu .settings__editor .form-field .reset-settings:hover {
  background-color: var(--clr-primary-900);
}
.settings-menu .settings__editor .form-field .reset-settings:active {
  transform: scale(0.98);
}
.settings-menu .settings__editor .form-field:nth-child(2) {
  flex-direction: column;
  align-items: self-start;
}
.settings-menu footer {
  width: 100%;
  text-align: center;
}
.settings-menu footer p {
  margin-bottom: 1rem;
}
.settings-menu footer .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.settings-menu footer .footer-links a {
  font-size: 1.2rem;
  padding: 0 1rem;
  height: 100%;
}
.settings-menu footer .footer-links a:nth-child(1) {
  border-right: 1px solid var(--clr-neutral-50);
}

.settings-menu.closed {
  width: 0;
  height: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 500ms var(--trans-bouncy), opacity 250ms ease-in-out 250ms, width 0s ease 500ms, height 0s ease 500ms;
}/*# sourceMappingURL=styles.css.map */