/*** Globals **/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts styles*/
  --ff-primary: "Roboto", sans-serif;
  /*Font weights*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
  /*Font sizes*/
  --fs-h1: 4rem;
  --fs-h2: 3.5rem;
  --fs-h3: 3rem;
  --fs-h4: 2.5rem;
  --fs-sub-header: 2rem;
  --fs-p: 1.4rem;
  --fs-footer: 1rem;
  --fs-i: 1.8rem;
  /*line heights*/
  --lh-h1: 4.5rem;
  --lh-h2: 4rem;
  --lh-h3: 3.5rem;
  --lh-h4: 3rem;
  --lh-sub-header: 2rem;
  --lh-p: 1.5rem;
  --lh-footer: 1.2rem;
  --lh-i: 1.8rem;
  /*colors*/
  --clr-neutral-50: #FFFFFE;
  --clr-neutral-100: #E4E6E6;
  --clr-neutral-200: #CACCCC;
  --clr-neutral-300: #B1B3B3;
  --clr-neutral-400: #979999;
  --clr-neutral-500: #7E807F;
  --clr-neutral-600: #656666;
  --clr-neutral-700: #4C4D4C;
  --clr-neutral-800: #1E1E1E;
  --clr-neutral-900: #141414;
  --clr-primary-100: #95E5D9;
  --clr-primary-300: #5ED1C0;
  --clr-primary-500: #33B8A4;
  --clr-primary-700: #179985;
  --clr-primary-900: #067362;
  --clr-secondary-100: #A870B2;
  --clr-secondary-300: #9756A3;
  --clr-secondary-500: #884196;
  --clr-secondary-700: #7B2D8A;
  --clr-secondary-900: #641A73;
  --clr-shades-white: #FFFFFF;
  --clr-shades-white-trans: rgba(255, 255, 255, 0.6);
  --clr-shades-black: #000000;
  --clr-shades-black-trans: rgba(30, 30, 30, 0.7);
  --clr-shades-green-trans: rgba(6, 115, 98, 0.7);
  --clr-success-100: #80F2AA;
  --clr-success-300: #63E592;
  --clr-success-500: #4ADE80;
  --clr-success-700: #2DC464;
  --clr-success-900: #16AB4C;
  --clr-warning-100: #FFDE59;
  --clr-warning-300: #FCD63F;
  --clr-warning-500: #FACC15;
  --clr-warning-700: #EDBF09;
  --clr-warning-900: #E0B300;
  --clr-error-100: #FAA5A5;
  --clr-error-300: #FA8C8C;
  --clr-error-500: #F87171;
  --clr-error-700: #EB5454;
  --clr-error-900: #DE3A3A;
  --clr-monochrome-500: #549087;
  --clr-monochrome-900: rgba(84, 144, 135, 0.7);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  font-weight: var(--fw-bold);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  font-weight: var(--fw-bold);
}

h5 {
  font-size: var(--fs-h5);
  line-height: var(--lh-h5);
  font-weight: var(--fw-bold);
}

p, li {
  font-size: var(--fs-p);
  line-height: var(--lh-p);
  font-weight: var(--fw-regular);
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: var(--fw-regular);
}

i {
  font-size: var(--fs-i);
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}

/** Uitlities **/
/*




button{
    cursor: pointer;
}

.btn{
    color: var(--clr-dark);
    display: block;
    padding: .25em 1.5em;
    background-color: var(--clr-accent);
    border: 2px solid var(--clr-accent);
    border-radius: 50vw;
    font-weight: bold;
    font-size: var(--fs-btn);
    font-family: var(--ff-secondary);
    text-align: center;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.btn.btn-secondary{
    color: var(--clr-light);
    background-color: transparent;
}

.btn:hover{
    background-color: var(--clr-hvr);
    border-color: var(--clr-hvr);
    color: var(--clr-light);
}


@media screen and (min-width: 768px) {
    :root {
        --fs-h1: 6rem;
        --fs-h2: 4.5rem;
        --fs-h3: 3rem;
        --fs-i: 2.25rem;
    }

    .btn{
        display: inline;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --fs-h1: 8rem;
        --fs-h2: 6rem;
        --fs-h3: 3.5rem;
        --fs-h4: 3rem;
        --fs-body: 2rem;
        --fs-btn: 2rem;
        --fs-i: 2.5rem;
    }
}
*/
/***** Header *****/
header {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-50);
}
header .navbar {
  min-height: 8vh;
  min-height: 8svh;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .navbar__logo {
  width: 15rem;
}
header .navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar__links a {
  font-size: var(--fs-sub-header);
  transition: color 250ms ease;
}
header .navbar__links a:hover {
  color: var(--clr-neutral-100);
}
header .navbar__links .cli-link {
  margin-right: 2rem;
}
header .navbar__links i {
  font-size: var(--fs-h4);
}

/***** Main *****/
main {
  height: 92vh;
  height: 92svh;
  padding: 2rem 0;
  width: 100%;
}
main .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .control-panel, main .console {
  background-color: var(--clr-neutral-50);
  border-radius: 10px;
}
main .horizontal-divider, main .vertical-divider {
  background-color: var(--clr-neutral-100);
}
main .horizontal-divider, main .main-content, main .console {
  width: 100%;
}
main .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(60% - 1rem);
}
main .main-content .ide, main .main-content .control-panel, main .main-content .vertical-divider {
  height: 100%;
}
main .main-content .ide {
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main .main-content .ide__container {
  height: calc(100% - 3rem);
}
main .main-content .ide__tabs {
  height: 3rem;
}
main .main-content .vertical-divider {
  width: 2rem;
  cursor: col-resize;
}
main .horizontal-divider {
  height: 2rem;
  cursor: row-resize;
}
main .console {
  height: calc(40% - 1rem);
}

/*** Main Content ***/
.ide__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ide__tabs ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ide__tabs ul li {
  height: 100%;
  padding: 0 1rem;
  display: grid;
  place-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--clr-shades-white-trans);
  color: var(--clr-neutral-300);
  margin-right: 2px;
  font-weight: var(--fw-bold);
  transition: all 250ms ease;
}
.ide__tabs ul li.active {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
}
.ide__tabs ul li:last-child {
  margin-right: 0;
}
.ide__tabs ul li:hover {
  background-color: var(--clr-neutral-50);
  color: var(--clr-neutral-900);
  cursor: pointer;
}
.ide__tabs ul li i {
  font-size: var(--fs-p);
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 8rem;
}
.control-panel__btn {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary-500);
  background-color: inherit;
  border: none;
  border-bottom: 2px solid var(--clr-primary-500);
  font-family: var(--ff-primary);
  cursor: pointer;
  transition: all 250ms ease;
}
.control-panel__btn:last-child {
  border-bottom: none;
}
.control-panel__btn:hover {
  color: var(--clr-neutral-50);
  background-color: var(--clr-primary-500);
}
.control-panel__btn i {
  font-size: var(--fs-sub-header);
}
.control-panel__btn p {
  font-weight: var(--fw-bold);
}
.control-panel__btn .text-icon {
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  margin-top: 1rem;
  transform: scaleX(1);
  transition: all 250ms ease-in-out;
}
.control-panel__btn .text-icon.hiddenV {
  opacity: 0;
  margin: 0;
  transform: scaleX(0);
  height: 0;
  flex: 0;
}
.control-panel__btn .text-icon.hiddenH {
  opacity: 0;
  margin: 0;
  transform: scaleX(0);
  height: 0;
  flex: 0;
}

/*** Console ***/
.console__tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--clr-primary-500);
  padding: 0 1rem;
}
.console__tabs__trash {
  padding: 1rem;
}
.console__tabs__trash i {
  color: var(--clr-primary-500);
  transition: color 250ms ease;
}
.console__tabs__trash i:hover {
  color: var(--clr-primary-900);
  cursor: pointer;
}
.console ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.console ul li {
  height: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--clr-shades-white-trans);
  color: var(--clr-neutral-300);
  transition: color 250ms ease;
  font-weight: var(--fw-bold);
}
.console ul li.active {
  color: var(--clr-neutral-900);
}
.console ul li:hover {
  color: var(--clr-neutral-900);
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */