*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts styles*/
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'PT Sans', sans-serif;
  /*Font weights*/
  /*Font sizes*/
  --fs-h1: 5rem;
  --fs-h2: 4rem;
  --fs-h3: 2.75rem;
  --fs-h4: 2.5rem;
  --fs-body: 1.75rem;
  --fs-btn: 1.75rem;
  --fs-i: 2rem;
  
  /*colors*/
  --clr-light: #FFFFFF;
  --clr-dark: #1C1C1C;
  --clr-bg-green: #30433a;
  --clr-accent: #49A078;
  --clr-hvr: #327053;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
font-size: var(--fs-body);
color: var(--clr-light);
font-family: var(--ff-secondary);
background-color: var(--clr-dark);
position: relative;
line-height: 1.5;
overflow-x: hidden;
}

main{
    min-height: 100vh;
}

h1,
h2,
h3, 
h4 {
    font-family: var(--ff-primary);
    line-height: 1.25;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4{
    font-size: var(--fs-h4);
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--clr-dark);
}

i{
    font-size: var(--fs-i);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

.btn{
    color: var(--clr-dark);
    display: block;
    padding: .25em 1.5em;
    background-color: var(--clr-accent);
    border: 2px solid var(--clr-accent);
    border-radius: 50vw;
    font-weight: bold;
    font-size: var(--fs-btn);
    font-family: var(--ff-secondary);
    text-align: center;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.btn.btn-secondary{
    color: var(--clr-light);
    background-color: transparent;
}

.btn:hover{
    background-color: var(--clr-hvr);
    border-color: var(--clr-hvr);
    color: var(--clr-light);
}

/*
@media screen and (min-width: 768px) {
    :root {
        --fs-h1: 6rem;
        --fs-h2: 4.5rem;
        --fs-h3: 3rem;
        --fs-i: 2.25rem;
    }

    .btn{
        display: inline;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --fs-h1: 8rem;
        --fs-h2: 6rem;
        --fs-h3: 3.5rem;
        --fs-h4: 3rem;
        --fs-body: 2rem;
        --fs-btn: 2rem;
        --fs-i: 2.5rem;
    }
}
*/

.main-header{
    background-color: #D1ECF1;
    color: #1C1C1C;
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        min-height: 10vh;
        .logo{
            img{
                width: 20rem;
            }
        }
        .page-title{
            text-align: center;
            p{
                font-weight: bold;
                font-size: 2.5rem;
            }
            span{
                font-size: 2rem;
                font-style: italic;
            }  
        }
        .main-nav{
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                li{
                    padding: .5rem 1rem;
                    &:first-child{
                        margin-right: 2rem;
                    }
                    &:hover a{
                        color: #18A2B8;
                    }
                }
                .settings{
                    cursor: pointer;
                    i{
                        transform: rotate(180deg);
                        transition: transform 500ms ease;

                        &:hover{
                            transform: rotate(0);
                        }
                    }
                }
            }
        }
    }
}


/************ main *******************/
main{
    min-height: 85vh;
    padding: 2rem 0;
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .editor-container{
            width: 65%;
            min-height: 85vh;
            position: relative;
            #editor{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 1.5rem;
            }
        }
        .sidebar-container{
            width: 35%;
            min-height: 85vh;
            padding: 0 2rem;
            background-color: #232323;
            .validation-checklist{
                width: 80%;
                margin: 2rem auto;
                background-color: #545454;
                border-radius: 5px;
                padding: .25rem 1rem;
                transition: all 250ms ease;
                i{
                    transform: rotate(-90deg);
                    transition: transform 450ms ease;
                }
                &:hover {
                    cursor: pointer;
                    background-color: #494949;
                    i{
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}