/*** Globals **/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Fonts styles*/
  --ff-primary: 'Roboto', sans-serif;

  /*Font weights*/
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  /*Font sizes*/
  --fs-h1: 4rem;
  --fs-h2: 3.5rem;
  --fs-h3: 3rem;
  --fs-h4: 2.5rem;
  --fs-sub-header: 2rem;
  --fs-p: 1.4rem;
  --fs-footer: 1rem;
  --fs-i: 1.8rem;

  /*line heights*/
  --lh-h1: 4.5rem;
  --lh-h2: 4rem;
  --lh-h3: 3.5rem;
  --lh-h4: 3rem;
  --lh-sub-header: 2rem;
  --lh-p: 1.5rem;
  --lh-footer: 1.2rem;
  --lh-i: 1.8rem;
  
  /*colors*/
  //default
  --clr-neutral-50: #FFFFFE;
  --clr-neutral-100: #E4E6E6;
  --clr-neutral-200: #CACCCC;
  --clr-neutral-300: #B1B3B3;
  --clr-neutral-400: #979999;
  --clr-neutral-500: #7E807F;
  --clr-neutral-600: #656666;
  --clr-neutral-700: #4C4D4C;
  --clr-neutral-800: #1E1E1E;
  --clr-neutral-900: #141414;

  //primary
  --clr-primary-100: #95E5D9;
  --clr-primary-300: #5ED1C0;
  --clr-primary-500: #33B8A4;
  --clr-primary-700: #179985;
  --clr-primary-900: #067362;

  //secondary
  --clr-secondary-100: #A870B2;
  --clr-secondary-300: #9756A3;
  --clr-secondary-500: #884196;
  --clr-secondary-700: #7B2D8A;
  --clr-secondary-900: #641A73;

  //shades
  --clr-shades-white: #FFFFFF;
  --clr-shades-white-trans: rgba(255, 255, 255, 0.6);
  --clr-shades-black: #000000;
  --clr-shades-black-trans: rgba(30, 30, 30, 0.7);
  --clr-shades-green-trans: rgba(6, 115, 98, 0.7);

  //success
  --clr-success-100: #80F2AA;
  --clr-success-300: #63E592;
  --clr-success-500: #4ADE80;
  --clr-success-700: #2DC464;
  --clr-success-900: #16AB4C;

  //warning
  --clr-warning-100: #FFDE59;
  --clr-warning-300: #FCD63F;
  --clr-warning-500: #FACC15;
  --clr-warning-700: #EDBF09;
  --clr-warning-900: #E0B300;

  //error
  --clr-error-100: #FAA5A5;
  --clr-error-300: #FA8C8C;
  --clr-error-500: #F87171;
  --clr-error-700: #EB5454;
  --clr-error-900: #DE3A3A;

  //monochrome
  --clr-monochrome-500: #549087;
  --clr-monochrome-900: rgba(84, 144, 135, 0.7);

  //transitions
  --trans-bouncy: cubic-bezier(0.68, -0.75, 0.27, 1.75);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-neutral-100);
    font-family: var(--ff-primary);
    color: var(--clr-neutral-900);
}

h1{
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    font-weight: var(--fw-bold);
}

h2{
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    font-weight: var(--fw-bold);
}

h3{
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-bold);
}

h4{
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    font-weight: var(--fw-bold);
}

h5{
    font-size: var(--fs-h5);
    line-height: var(--lh-h5);
    font-weight: var(--fw-bold);
}

p, li{
    font-size: var(--fs-p);
    line-height: var(--lh-p);
    font-weight: var(--fw-regular);
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-weight: var(--fw-regular);
}

i{
    font-size: var(--fs-i);
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
}


/***** Header *****/
header{
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-50);
    .navbar{
        max-height: 8vh;
        max-height: 8svh;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__logo{
            width: 15rem;
        }
        
        &__links{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: var(--fs-p);
                transition: color 250ms ease;
                &:hover{
                    color: var(--clr-neutral-100);
                }
            }

            .cli-link{
                margin-right: 3rem;
            }
            
            i{
                font-size: var(--fs-h4);
            }
        }
    }
}

/***** Main *****/

main{
    height: 92vh;
    height: 92svh;
    padding: 2rem 0;
    width: 100%;
    position: relative;
    overflow: hidden;

    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .control-panel, .console{
        background-color: var(--clr-neutral-50);
        border-radius: 10px;
    }

    .horizontal-divider, .vertical-divider{
        background-color: var(--clr-neutral-100);
    }

    .horizontal-divider, .main-content, .console{
        width: 100%;
    }

    .main-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(60% - 1rem);

        .ide, .control-panel, .vertical-divider{
            height: 100%;
        }

        .ide{
            width: 100%;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &__container{
                height: calc(100% - 3rem);
            }

            &__tabs{
                height: 3rem;
            }
        }

        .vertical-divider{
            width: 2rem;
            cursor: col-resize;
        }

        
    }

    .horizontal-divider{
        height: 2rem;
        cursor: row-resize;
    }

    .console{
        height: calc(40% - 1rem);
    }  
}

/*** Main Content ***/

//IDE
.ide{
    &__tabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 100%;

            li{
                height: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: var(--clr-shades-white-trans);
                color: var(--clr-neutral-300);
                margin-right: 2px;
                font-weight: var(--fw-bold);
                transition: all 250ms ease;
                overflow: hidden;
                white-space: nowrap;

                i{
                    font-size: var(--fs-p);
                }

                &.active{
                    background-color: var(--clr-neutral-50);
                    color: var(--clr-neutral-900);
                }

                &:hover{
                    background-color: var(--clr-neutral-50);
                    color: var(--clr-neutral-900);
                    cursor: pointer;
    
                    .close-tab{
                        opacity: 1;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        &__left{
            max-width: 80%;
            li:not(:last-child){
                position: relative;
                padding-right: 3rem;
                .close-tab{
                    position: absolute;
                    content: '';
                    top: 50%;
                    right: 0;
                    width: 2rem;
                    height: 2rem;
                    transform: translate(-.5rem, -50%);
                    background-color: var(--clr-neutral-100);
                    opacity: 0;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 250ms ease-in-out;
                    &:hover{
                        background-color: var(--clr-neutral-200);
                    }
                }
            }

            li:last-child{
                min-width: fit-content;
            }
        }
    }  
}

//Control panel
.control-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 8rem;
    &__btn{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--clr-primary-500);
        background-color: inherit;
        border: none;
        border-bottom: 2px solid var(--clr-primary-500);
        font-family: var(--ff-primary);
        cursor: pointer;
        transition: all 250ms ease;

        &:last-child{
            border-bottom: none;
        }

        &:hover{
            color: var(--clr-neutral-50);
            background-color: var(--clr-primary-500);
        }

        i{
            font-size: var(--fs-sub-header);
        }

        p{
            font-weight: var(--fw-bold);
        }
        .text-icon{
            width: fit-content;
            opacity: 1;
            margin-top: 1rem;
            transform: scaleX(1);
            transition: all 250ms var(--trans-bouncy);
        }
        .text-icon.hiddenV{
            opacity: 0;
            margin: 0;
            transform: scaleX(0);
            height: 0;
            flex: 0;
        }
        .text-icon.hiddenH{
            opacity: 0;
            margin: 0;
            transform: scaleX(0);
            height: 0;
            flex: 0;
        }
    }
}

/*** Console ***/
.console{
    &__tabs{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid var(--clr-primary-500);
        padding: 0 1rem;

        &__trash{
            padding: 1rem;
            i{
                color: var(--clr-primary-500);
                transition: color 250ms ease;

                &:hover{
                    color: var(--clr-primary-900);
                    cursor: pointer;
                }
            }
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        li{
            height: 100%;
            padding: 1rem;
            display: grid;
            place-items: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: var(--clr-shades-white-trans);
            color: var(--clr-neutral-300);
            transition: color 250ms ease;
            font-weight: var(--fw-bold);

            &.active{
                color: var(--clr-neutral-900);
            }

            &:hover{
                color: var(--clr-neutral-900);
                cursor: pointer;
            }
        }
    }
}

/***** settings menu *****/

.settings-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: var(--clr-primary-500);
    border-radius: 0 0 0 50px;
    padding: 2rem;
    color: var(--clr-neutral-50);
    transform-origin: right;
    transition: width 0s ease, height 0s ease, opacity 150ms ease-in-out, transform 500ms var(--trans-bouncy) 150ms;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    &__close{
        width: 100%;
        text-align: right;
        margin-bottom: 2rem;
        i{
            font-size: var(--fs-h4);
            cursor: pointer;
        }
    }

    &__title, &__preferences{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--clr-neutral-50);
        width: 100%;
    }

    &__preferences{
        padding-top: 4rem;
    }

    &__validator{
        width: 100%;
        margin: 2rem 0;
        display: flex;
        gap: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        
        .form-field{
            width: calc(50% - 2rem);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: var(--fs-p);

            label{
                width: 50%;
            }

            input[type="checkbox"]{
                appearance: none;
                width: 6rem;
                height: 3rem;
                border-radius: 50vw;
                background-color: var(--clr-primary-700);
                position: relative;
                transition: background-color 250ms ease-in-out;
                cursor: pointer;

                &::before{
                    content: '';
                    position: absolute;
                    top: .4rem;
                    left: .4rem;
                    width: 2.2rem;
                    height: 2.2rem;
                    border-radius: 50%;
                    background-color: var(--clr-neutral-50);
                    transition: all 500ms var(--trans-bouncy);
                }
            }

            input[type="checkbox"]:checked{
                background-color: var(--clr-success-500);

                &::before{
                    left: 3.2rem;
                    background-color: var(--clr-neutral-50);
                }
            }
        }
    }

    &__editor{
        margin: 2rem 0;
        width: 100%;

        .form-field{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: var(--fs-p);
            margin-bottom: 2rem;

            span{
                font-weight: var(--fw-bold);
            }

            select{
                width: 60%;
                background-color: var(--clr-neutral-50);
                padding: .5rem 1rem;
                border-radius: 5px;
                border: none;
                cursor: pointer;
            }

            .font-range-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;
                padding: 1rem 0;
                span{
                    width: fit-content;
                }
            }

            input[type="range"]{
                flex: 1;
                appearance: none;
                height: 4px;
                border-radius: 50vw;
                background-color: var(--clr-primary-700);
                cursor: pointer;

                /* All the same stuff for Firefox */
              
                &::-moz-range-thumb {
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                    background-color: var(--clr-neutral-50);
                    border: none;
                }
                
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: none;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                    background-color: var(--clr-neutral-50);
                }
              
                input[type=range]::-ms-thumb {
                    height: 2rem;
                    width: 2rem;
                    border-radius: 50%;
                    background-color: var(--clr-neutral-50);
                    border: none;
                }
            } 

            .reset-settings{
                border: none;
                padding: 1rem 2rem;
                border-radius: 5px;
                background-color: var(--clr-primary-700);
                color: var(--clr-neutral-50);
                font-size: var(--fs-p);
                font-weight: var(--fw-bold);
                font-family: var(--ff-primary);
                cursor: pointer;
                transition: background-color 250ms ease-in-out;

                &:hover{
                    background-color: var(--clr-primary-900);
                }
            }
        }

        .form-field:nth-child(2){
            flex-direction: column;
            align-items: self-start;
        }
    }

    footer{
        width: 100%;
        text-align: center;

        p{
            margin-bottom: 1rem;
        }

        .footer-links{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        a{
            font-size: 1.2rem;
            padding: 0 1rem;
            height: 100%;
            &:nth-child(1){
                border-right: 1px solid var(--clr-neutral-50);
            }
        }
    }
}

.settings-menu.closed{
    width: 0;
    height: 0;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 500ms var(--trans-bouncy), opacity 250ms ease-in-out 250ms, width 0s ease 500ms, height 0s ease 500ms;
}


